* {
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
}

#mainContainer {
    position: relative;
}

#header {
    border-bottom: 1px solid white;
}

#library {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: repeat(auto-fit, 275px);
    gap: 10px;
}

#library > * {
    background-color: rgb(44, 41, 48);
}

.book {
    font-size: 20px;
    border: 5px solid rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    
}

.book > * {
    background-color: rgb(44,41,48);
}

.remove {
    color: black;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    padding: 0px;

}

#newBook {
    font-size: 150px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
}

#addBook {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 100px;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    margin: auto;
    border: 1px solid rgb(255, 255, 255, 0.85);
}

form input[type=text] {
    background-color: white;
    color: black;
}

form label[for=read] {
    align-self: center;
}